#menu
{
    padding: 40px;
}

#header
{
    padding: 10px;
}

#color
{
    margin-left: 25px;
    width: 120px;
}

#megjelenit
{
    width: 120px;
    margin-left: 25px;
}

#kep
{
    max-width: 1200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    border-color: black;
    border-width: 23px;
}